header,
footer {
    text-align: center;
}

header {
    font-family: "Roboto", sans-serif;
    font-size: 32pt;
}

.jumbotron {
    color: #f2f2f2;
    background-color: #4114D2;
}

body {
    background-color: #140150;
}

.login-page {
    margin: auto;
}

.form {
    text-align: center;
}

.form input {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 14px;
}

.login-form {
    max-width: 360px;
    margin: auto;
    padding: 45px;
    background: rgba(7, 40, 195, 0.8);
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
}

.form button:hover,
.form button:active {
    background: #43A047;
}

.message {
    margin-top: 15px;
    color: aliceblue;
    font-size: 20px;
}

.register-form {
    display: none;
}