header,
footer {
    text-align: center;
}

header {
    font-family: "Roboto", sans-serif;
    font-size: 32pt;
}

.jumbotron {
    color: #f2f2f2;
    background-color: #4114D2;
}

body {
    background-color: #140150;
}

.login-page {
    margin: auto;
}

.form {
    text-align: center;
}

.login-form input {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 4.5%;
    font-size: 20px;
}

.register-form input {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 0.5%;
    font-size: 20px;
}

.login-form {
    max-width: 30%;
    margin: auto;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 0.5%;
    background: rgba(7, 40, 195, 0.8);
}

/* This section changes the button style*/
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 4%;
    color: #ffffff;
    font-size: 20px;
}

/* This section changes the color of the buttons when you hover or click them.*/
.form button:hover,
.form button:active {
    background: #43A047;
}

/* This section controls the register/login message.*/
.message {
    margin-top: 4%;
    color: aliceblue;
    font-size: 20px;
}

/* This section makes the register form not display when you first load the page.*/
.register-form {
    display: none;
}

.register-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 1%;
    color: #ffffff;
    font-size: 20px;
}

#registerMessage{
    margin-top: 1%;
    color: aliceblue;
    font-size: 20px;
}