header, footer {
    text-align: center;
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 32pt;
    /* text-shadow: black 0px 0px 5px; */
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.jumbotron {
    color: #130B2B;
    background-color: #4114D2;
}

.card {
    color: #1D0371;
    background-color: #7F7A8F;
}

.form-group {
    font-weight: 500;
    font-size: 14pt;
}

.btn {
    background-color: #1D0371;
}
body {
    background-color: #140150;
}