header {
    text-align: center;
    margin: 1px;
    padding: 0;
}

.jumbotron {
    margin: 1px;
    padding: 0;
    padding-top: 3%;  
}

.lead{
    margin: 50px;
}

.btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#dropdownMenuButton {
    text-align: left;
    border: 0;
}